In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)


title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

#creating main dataframe
main_df = pd.DataFrame(movie_budgets['movie'])

#populating main dataframe from 'movie_budgets' dataset
main_df['Production Budget'] = movie_budgets['production_budget']
main_df['Worldwide Gross'] = movie_budgets['worldwide_gross']

#renaming columns
main_df = main_df.rename(columns={'movie':'Title'})
title_basics = title_basics.rename(columns={'primary_title': 'Title'})

#merging 'title_baiscs' dataset with main dataframe
main_df = pd.merge(main_df, title_basics, how='outer', on='Title')

#trimming size of dataframe to first 5782 rows (number of rows with financial data)
main_df = main_df.head(5782)

#dropping uneccessary columns
main_df = main_df.drop(columns = ['tconst','original_title','start_year'])

#dropping null values from 'genres column'
main_df = main_df.dropna(subset=['genres'])
main_df = main_df.dropna(subset=['runtime_minutes'])

#resetting the index
main_df = main_df.reset_index()

#dropping old index 
main_df = main_df.drop(columns = ['index'])

In [7]:
main_df.head()

,Title,Production Budget,Worldwide Gross,runtime_minutes,genres
0,Avatar,"$425,000,000","$2,776,345,279",93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875",136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,"$350,000,000","$149,762,350",113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,"$330,600,000","$1,403,013,963",141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,"$300,000,000","$2,048,134,200",149.0,"Action,Adventure,Sci-Fi"